* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri','Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 50vh;
  height: 20vh;
  font-size: 8vh;
  font-weight: bold;
  background-color: white;
  border-radius: 20vh;
}